DB_HOST='mongodb://localhost:27017/admin'
ACCESS_TOKEN_KEY='awikwok'
REFRESH_TOKEN_KEY='asdasdasdas'
GOOGLE_CLIENT_ID='asdasdasdasasdas'
GOOGLE_CLIENT_SECRET='asdasdasdasdasdas'
NODE_ENV='development'
CLOUDINARY_CLOUD_NAME='asdasdas'
CLOUDINARY_API_KEY='123123123123'
CLOUDINARY_API_SECRET='asdfhasdjkfasdjkl'